@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }

  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  .contacts-item:not(:last-child) {
    margin-bottom: 0;
  }

  .contacts-item-link {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero/hero_desk.jpg);
  }

  @media only screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page/hero/hero_desk@2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto 48px;
  }

  .features-icons-list {
    display: flex;
  }

  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-item-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .feature-item-text {
    font-weight: 400;
  }

  .work {
    display: block;
    padding-top: 0;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer {
    background-color: var(--navy-blue-dark-color);
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
  }

  .footer-logo-wrapper {
  display: inline-block;
  margin-right: 120px;
}
  }
  
}
