/* PORTFOLIO */
.portfolio {
  padding-top: 96px;
}

.portfolio-btn-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  align-items: center;
  justify-content: center;
}

.portfolio-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud-light-color);
  color: var(--accent-color);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower-accent-color);
  background: var(--cloud-light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-background-color);
  background-color: var(--ocean-pressed-state-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.project-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-link:hover,
.project-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item-text-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-accent-color);
  border-top: none;
  background: var(--white-background-color);
}

.project-item-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark-color);
}

.project-item-text {
  color: var(--slate-text-color);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--iris-primary-brand-color);
  color: var(--cloud-light-color);
}

.project-item-link:hover .project-overlay-text,
.project-item-link:focus .project-overlay-text {
  transform: translateY(0);
}

/* MODAL WINDOW */
