@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-logo {
    padding-bottom: 25.5px;
    margin-right: 120px;
  }

  .main-menu-list {
    display: flex;
  }

  .contacts {
    display: block;
  }

  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero/hero_tablet.jpg);
  }

  @media only screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page/hero/hero_tablet@2x.png);
    }
  }

  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: var(--white-background-color);
    text-align: center;
    letter-spacing: 0.02em;
  }

  .features-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }

  .feature-item-title {
    text-align: start;
  }
  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .customers-wrapper {
    padding: 0 108px;
    margin: 0 auto;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: start;
    padding: 0 108px;
  }

  .footer-logo-wrapper {
    width: 264px;
    margin: 0 24px 0 0;
  }
  .footer-socials-wrapper {
    margin-top: 0;
  }

  .footer-socials-list {
    justify-content: start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }

  .modal {
    max-width: 408px;
  }

  .open-toggle-btn {
    display: none;
  }
}
